@font-face {
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;

   src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Regular.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Open Sans SemiCondensed";
   font-weight: bold;
   font-style: normal;

   src: url("../fonts/open-sans/OpenSansSemiCondensed-Bold.woff2") format("woff2"), url("../fonts/open-sans/OpenSansSemiCondensed-Bold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Banny";
   font-weight: bold;
   font-style: normal;

   src: url("../fonts/banny/Banny-BoldRound.woff2") format("woff2"), url("../fonts/banny/Banny-BoldRound.woff") format("woff");
   font-display: swap;
}

* {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

.dn {
   display: none;
}

body {
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   font-weight: normal;
   font-style: normal;

   position: relative;
}

a {
   -webkit-transition: .3s text-decoration-color ease-in-out, .3s opacity ease-in-out;
           transition: .3s text-decoration-color ease-in-out, .3s opacity ease-in-out;
           text-decoration: none;
           text-decoration: underline .15em rgba(255, 255, 255, 0);

   -webkit-text-decoration: underline .15em rgba(255, 255, 255, 0);
}

a:hover {
   opacity: .5;

   text-decoration-color: rgb(255, 255, 255);
}

ul {
   padding-left: 0;

   list-style: none;
}

image {
   display: block;
   overflow: hidden;
}

.container {
   max-width: 1280px;
   margin: 0 auto;
}

.container--decor {
   position: relative;

   padding-top: 37px;
   padding-bottom: 37px;
}

.decor-line-left {
   position: absolute;
   top: 0;
   left: 210px;

   width: 1px;
   height: 100%;

   background-color: rgba(255, 255, 255, .2);
}

.decor-line-middle {
   position: absolute;
   top: 0;
   left: 50%;

   width: 1px;
   height: 100%;

   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);

   background-color: rgba(255, 255, 255, .2);
}

.decor-line-right {
   position: absolute;
   top: 0;
   right: 210px;

   width: 1px;
   height: 100%;

   background-color: rgba(255, 255, 255, .2);
}

.container--por {
   position: relative;

   height: 100%;
}

.btn {
   font-family: "Open Sans", sans-serif;
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 20px;

   padding: 16px 70px;

   cursor: pointer;
   -webkit-transition: .3s background-color ease-in-out;
           transition: .3s background-color ease-in-out;
   text-align: center;
   text-align: center;
   text-transform: uppercase;

   color: #fff;
}

.section-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.section-wrapper--reverse {
       flex-direction: row-reverse;

   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   -ms-flex-direction: row-reverse;
}

.section-wrapper--reverse .section-image {
   padding-right: 52px;
   padding-left: 112px;
}

.section-wrapper--reverse .section-image__decor {
   right: auto;
   left: 0;
}

.section-wrapper--big-pb {
   padding-bottom: 100px;
}

.section-image__img {
   display: block;
}

.section-theme {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 14px;

   margin-bottom: 37px;

   text-align: center;
   letter-spacing: 6px;
   text-transform: uppercase;

   color: #fff;
}

.section-title {
   font-family: Banny, sans-serif;
   font-size: 36px;
   font-weight: 700;
   font-style: normal;
   line-height: 48px;

   position: relative;

   text-align: center;
   text-transform: uppercase;

   color: #000;
}

.section-title::after {
   position: absolute;
   bottom: -14px;
   left: 50%;

   display: block;

   width: 60px;
   height: 5px;

   content: "";
   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);

   border-radius: 50px;
   background-color: #e8c300;
}

.section-title--negative {
   color: #fff;
}

.section-subtitle {
   line-height: 24px;

   text-align: center;
}

.section-subtitle--negative {
   color: #fff;
}

.content__description {
   line-height: 24px;

   text-align: center;
}

.content {
   width: 50%;
   padding-right: 126px;
}

.section-image {
   position: relative;

   width: 50%;
   padding-left: 0;
}

.section-image__img {
   overflow: hidden;

   width: 475px;
   height: 475px;

   border-radius: 5px;
}

.section-image__decor {
   position: absolute;
   top: 113px;
   right: 41px;

   width: 250px;
   height: 250px;

   border: 20px solid #e8c300;
   border-radius: 5px;
   background-color: transparent;
   -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, .5);
           box-shadow: 0 0 100px 0 rgba(0, 0, 0, .5);
}

.section-image__decor::after {
   position: absolute;
   top: 0;
   left: 0;

   display: block;

   width: 100%;
   height: 100%;

   content: "";

   background-color: transparent;
   -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3) inset;
           box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3) inset;
}

.content__description--negative {
   color: #fff;
}

.shedule--negative {
   font-size: 12px;
   font-weight: 400;
   font-style: normal;
   line-height: 12px;

   text-align: center;

   color: rgba(255, 255, 255, .5) !important;
}

.shedule__link--negative {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 12px;

   color: rgba(255, 255, 255, .5) !important;
}

.iframe {
   display: block;
}

.input-error {
   border: 1px solid red !important;
}

.btn-up {
   font-size: 20px;

   position: fixed;
   z-index: 100;
   right: 50px;
   bottom: 50px;

   display: none;

   width: 40px;
   height: 40px;

   cursor: pointer;
   -webkit-transition: .3s -webkit-transform ease-in-out;
           transition: .3s -webkit-transform ease-in-out;
           transition: .3s transform ease-in-out;
           transition: .3s transform ease-in-out, .3s -webkit-transform ease-in-out;
   text-decoration: none;

   color: #333;
   border: none;
   border-radius: 50%;
   outline: none;
   background-color: #fff;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.btn-up::after {
   position: absolute;
   z-index: 99;
   top: -29%;
   left: -11px;

   width: 60px;
   height: 60px;

   content: "";
   -webkit-animation-name: btn-further-animation;
           animation-name: btn-further-animation;
   -webkit-animation-duration: 1.5s;
           animation-duration: 1.5s;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;

   border: 1px solid rgba(255, 255, 255, .2);
   border-radius: 50%;
   background-color: rgba(0, 0, 0, .2);
}

.btn-up:hover {
   -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
           transform: scale(1.1);
}

.btn-up i {
   -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
           transform: rotate(180deg);
}

.decor {
   width: 150px;
   height: 150px;

   background-image: url(../images/icons/decor-icon.svg);
   background-repeat: no-repeat;
   background-size: cover;
}

.header {
   position: absolute;
   z-index: 100;
   top: 0;
   left: 0;

   width: 100%;
   padding-top: 40px;
   padding-bottom: 40px;
}

.header__nav {
   position: relative;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.header__nav-part {
   position: relative;
}

.header__nav-part::after {
   position: absolute;
   bottom: -40px;
   left: 0;

   width: 100%;
   height: 1px;

   content: "";

   background-color: rgba(255, 255, 255, .2);
}

.header__link {
   font-size: 12px;
   font-weight: 700;
   line-height: 18px;

   padding-right: 40px;
   padding-left: 40px;

   text-transform: uppercase;

   color: #fff;
}

.header__decor {
   position: absolute;
   top: 25px;
   left: 50%;

   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);
}

.burger-btn {
   position: absolute;
   top: 10px;
   right: 10px;

   display: none;

   width: 50px;
   height: 40px;

   cursor: pointer;
}

.burger-btn__line {
   position: relative;
   z-index: 200;
   top: 50%;
   left: 0;

   width: 100%;
   height: 4px;

   -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
           transform: translateY(-50%);

   border-radius: 2px;
   background-color: #fff;
}

.burger-btn__line::before {
   position: absolute;
   top: -10px;
   left: 0;

   display: block;

   width: 100%;
   height: 100%;

   content: "";
   -webkit-transition: -webkit-transform .3s ease-in-out;
           transition: -webkit-transform .3s ease-in-out;
           transition:         transform .3s ease-in-out;
           transition:         transform .3s ease-in-out, -webkit-transform .3s ease-in-out;

   border-radius: 2px;
   background-color: #fff;
}

.burger-btn__line::after {
   position: absolute;
   top: 10px;
   left: 0;

   display: block;

   width: 100%;
   height: 100%;

   content: "";
   -webkit-transition: -webkit-transform .3s ease-in-out;
           transition: -webkit-transform .3s ease-in-out;
           transition:         transform .3s ease-in-out;
           transition:         transform .3s ease-in-out, -webkit-transform .3s ease-in-out;

   border-radius: 2px;
   background-color: #fff;
}

.burger-btn--active .burger-btn__line {
   background-color: transparent;
}

.burger-btn--active .burger-btn__line::before {
   top: 0;

   -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
           transform: rotate(45deg);
}

.burger-btn--active .burger-btn__line::after {
   top: 0;

   -webkit-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
           transform: rotate(-45deg);
}

.hero {
   overflow-y: auto;

   height: 100vh;
   padding-top: 0;
   padding-bottom: 20px;

   background-color: rgba(0, 0, 0, .9);
   background-image: url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.hero__padding-top {
   margin-bottom: 215px;
   padding-top: 98px;
}

.hero__wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.hero__shedule {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 12px;

   min-width: 62px;

   -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
           transform: rotate(180deg);
       -ms-writing-mode: tb-lr;

   color: #fff;

   -webkit-writing-mode: vertical-lr;
           writing-mode: vertical-lr;
}

.hero__description {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 14px;

   margin-bottom: 34px;

   text-align: center;
   letter-spacing: 6px;
   text-transform: uppercase;

   color: #fff;
}

.hero__title {
   font-family: Banny, sans-serif;
   font-size: 96px;
   font-weight: 700;
   font-style: normal;
   line-height: 1;

   position: relative;

   margin-top: 0;
   margin-bottom: 80px;

   text-align: center;
   text-transform: uppercase;

   color: #fff;
}

.hero__title::after {
   position: absolute;
   bottom: -30px;
   left: 50%;

   display: block;

   width: 60px;
   height: 5px;

   content: "";
   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);

   border-radius: 50px;
   background-color: #e8c300;
}

.hero__btns {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 440px;
   margin: 0 auto 82px auto;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.hero__btn {
   min-width: 200px;

   -webkit-transition: .3s background-color ease-in-out;
           transition: .3s background-color ease-in-out;

   border: 1px solid rgba(255, 255, 255, .5);
   border-radius: 5px;
   background-color: transparent;
}

.hero__btn:hover {
   background-color: #e8c300;
}

.hero__btn--active {
   -webkit-transition: .3s background-color ease-in-out;
           transition: .3s background-color ease-in-out;

   border: 1px solid #e8c300;
   border-radius: 5px;
   background-color: #e8c300;
}

.hero__btn--active:hover {
   background-color: transparent;
}

.hero__socials-wrap {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
       flex-direction: column;

   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
}

.hero__socials-link {
   font-size: 20px;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 60px;
   height: 60px;
   margin-bottom: 20px;

   text-decoration: none;

   color: #fff;
   border: 1px solid rgba(255, 255, 255, .2);
   border-radius: 50%;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.btn-further {
   font-size: 20px;

   position: relative;

   display: block;

   width: 40px;
   height: 40px;
   margin: 0 auto;
   margin-bottom: 82px;

   cursor: pointer;
   -webkit-transition: .3s -webkit-transform ease-in-out;
           transition: .3s -webkit-transform ease-in-out;
           transition: .3s transform ease-in-out;
           transition: .3s transform ease-in-out, .3s -webkit-transform ease-in-out;

   color: #333;
   border: none;
   border-radius: 50%;
   outline: none;
   background-color: #fff;
}

.btn-further::before {
   position: absolute;
   top: -29%;
   left: -11px;

   width: 60px;
   height: 60px;

   content: "";
   -webkit-animation-name: btn-further-animation;
           animation-name: btn-further-animation;
   -webkit-animation-duration: 1.5s;
           animation-duration: 1.5s;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;

   border: 1px solid rgba(255, 255, 255, .2);
   border-radius: 50%;
}

.btn-further:hover {
   -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
           transform: scale(1.1);
}

.header__decor-line-left {
   position: absolute;
   bottom: 0;
   left: 160px;

   width: 1px;
   height: calc(100% - 98px);

   background-color: rgba(255, 255, 255, .2);
}

.header__decor-line-middle {
   position: absolute;
   bottom: 0;
   left: 50%;

   width: 1px;
   height: calc(100% - 200px);

   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);

   background-color: rgba(255, 255, 255, .2);
}

.header__decor-line-right {
   position: absolute;
   right: 160px;
   bottom: 0;

   width: 1px;
   height: calc(100% - 98px);

   background-color: rgba(255, 255, 255, .2);
}

@-webkit-keyframes btn-further-animation {
   from {
      -webkit-transform: scale(1);
              transform: scale(1);
   }

   50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
   }

   to {
      -webkit-transform: scale(1);
              transform: scale(1);
   }
}

@keyframes btn-further-animation {
   from {
      -webkit-transform: scale(1);
              transform: scale(1);
   }

   50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
   }

   to {
      -webkit-transform: scale(1);
              transform: scale(1);
   }
}

.about {
   padding-top: 100px;
   padding-bottom: 100px;
}

.team {
   color: #fff;
   background-color: rgba(0, 0, 0, .9);
   background-image: url(../images/team-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.section-title--team {
   color: #fff;
}

.order {
   padding-top: 100px;
   padding-bottom: 37px;
}

.order-form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   gap: 10px;
}

.order-form__input {
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   line-height: normal;

   padding: 20px 24px;

   color: rgba(51, 51, 51, 1);
   border: 1px solid transparent;
   border-radius: 5px;
   background-color: #e5e5e5;

   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.form-send {
   width: 100%;

   -webkit-transition: .3s background-color ease-in-out, .3s color ease-in-out;
           transition: .3s background-color ease-in-out, .3s color ease-in-out;

   border: 1px solid #e8c300;
   border-radius: 5px;
   background-color: #e8c300;
}

.form-send:hover {
   color: #000;
   background-color: transparent;
}

.shedule {
   font-size: 12px;
   font-weight: 400;
   font-style: normal;
   line-height: 12px;

   text-align: center;

   color: rgba(51, 51, 51, .5);
}

.shedule__link,
.shedule__numbers {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 12px;

   color: rgba(51, 51, 51, .5);
}

.section-wrapper--order {
   margin-bottom: 34px;
}

.specials {
   background-color: rgba(0, 0, 0, .9);
   background-image: url(../images/specials-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.specials__swiper {
   padding-bottom: 55px;
}

.specials .swiper-pagination .swiper-pagination-bullet {
   width: 10px;
   height: 10px;

   opacity: .5;
   background-color: #fff;
}

.specials .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
   opacity: 1;
   background-color: #fff;
}

.specials .swiper-pagination {
   bottom: 0;
}

.section-subtitle--menu {
   max-width: 565px;
   margin: 0 auto 50px auto;
}

.menu__filter-btn {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 18px;

   min-width: 120px;
   padding: 16px 22px;

   cursor: pointer;
   -webkit-transition: .3s text-decoration-color ease-in-out, .3s opacity ease-in-out;
           transition: .3s text-decoration-color ease-in-out, .3s opacity ease-in-out;
   text-align: center;
           text-decoration: underline .15em rgba(255, 255, 255, 0);
   text-transform: uppercase;

   color: #333;
   border: none;
   background-color: transparent;

   -webkit-text-decoration: underline .15em rgba(255, 255, 255, 0);
}

.menu__filter-btn:hover {
   opacity: .5;

   text-decoration-color: rgba(0, 0, 0, .5);
}

.menu__filter-item {
   border-right: 1px solid rgba(51, 51, 51, .2);
}

.menu__filter-item:last-child {
   border-right: none;
}

.menu__filter-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   max-width: 840px;
   margin: 0 auto;
   margin-bottom: 51px;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}

.menu__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin: 0;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-column-gap: 87px;
      -moz-column-gap: 87px;
           column-gap: 87px;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}

.menu__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 28%;
   padding-bottom: 30px;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.menu__text {
   font-family: "Banny", sans-serif;
   font-size: 18px;
   font-weight: 700;
   font-style: normal;
   line-height: 18px;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
       flex-direction: column;

   color: #333;

   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
}

.menu__subtext {
   font-size: 12px;
   font-weight: 400;
   font-style: normal;
   line-height: 18px;

   color: rgba(51, 51, 51, .5);
}

.menu__price {
   font-family: "Banny", sans-serif;
   font-size: 18px;
   font-weight: 700;
   font-style: normal;
   line-height: 18px;

   color: #333;
}

.menu__text-content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.menu__dots {
   margin-left: 4px;

   background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #000), color-stop(0%, rgba(51, 51, 51, 0)));
   background-image: linear-gradient(to right, #000 10%, rgba(51, 51, 51, 0) 0%);
   background-repeat: repeat-x;
   background-position: 0 14px;
   background-size: 8px 2px;

   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.events__wrapper {
   background-color: rgba(0, 0, 0, .9);
   background-image: url(../images/events-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.content--events {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 100%;
   margin-bottom: 45px;
   padding-right: 0;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.section-image--events {
   padding-right: 52px;
   padding-left: 112px;
}

.section-image__decor--events {
   right: auto;
   left: 0;
}

.section-image__text {
   font-family: "Banny", sans-serif;
   font-size: 24px;
   font-weight: 700;
   font-style: normal;
   line-height: 12px;

   position: absolute;
   top: 0;
   right: 53px;

   height: 100%;
   padding: 20px;

       -ms-writing-mode: tb-lr;
   text-transform: uppercase;

   color: #fff;
   border-radius: 0 4px 4px 0;
   background-color: #000;

   -webkit-writing-mode: vertical-lr;
           writing-mode: vertical-lr;
}

.section-image__text--reverse {
   right: auto;
   left: 0;

   -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
           transform: rotate(180deg);

   border-radius: 0 4px 4px 0;
}

.events__slider {
   height: 360px;
}

.events__slider-item {
   width: 100%;
}

.events__slider-img {
   width: 100%;

   -o-object-fit: cover;
      object-fit: cover;
}

.contact {
   padding-top: 60px;
}

.section-subtitle--contact {
   max-width: 565px;
   margin: 0 auto 50px auto;
}

.contact-form {
   margin-bottom: 100px;
}

.contact-form__inputs {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin-bottom: 11px;

   gap: 11px;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}

.contact-form__input {
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   line-height: normal;

   width: 30%;
   padding: 20px 24px;

   color: rgba(51, 51, 51, 1);
   border: 1px solid transparent;
   border-radius: 5px;
   background-color: #e5e5e5;

   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.contact-form__text {
   height: 118px;
}

.contact-form__text {
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   line-height: normal;

   width: 100%;
   padding: 20px 24px;

   color: rgba(51, 51, 51, .5);
   border: 1px solid transparent;
   border-radius: 5px;
   background-color: #e5e5e5;
}

.contact-form__container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.contact-form__list {
   width: 50%;
}

.form-send {
   width: 50%;
}

.contact-form__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   padding-right: 48px;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.contact-form__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.contact-form__item-icon {
   font-size: 14px;
   font-weight: 900;
   font-style: normal;
   line-height: 14px;

   margin-right: 9px;

   color: #e8c300;
}

.contact-form__icon {
   margin-right: 10px;
}

.contact-form__info {
   font-size: 12px;
   font-weight: 700;
   font-style: normal;
   line-height: 12px;

   color: rgba(51, 51, 51, .5);
}

.contact__map {
   overflow: hidden;

   height: 475px;
}

.footer {
   padding-top: 40px;
   padding-bottom: 40px;

   background-color: rgba(0, 0, 0, .9);
}

.footer__text {
   font-size: 12px;
   font-weight: 400;
   font-style: normal;
   line-height: 12px;

   text-align: center;

   color: rgba(255, 255, 255, .5);
}

@media (max-width: 1300px) {
   .container {
      padding-right: 10px;
      padding-left: 10px;
   }
}

@media (max-width: 1200px) {
   .content {
      padding-right: 0;
   }

   .section-image__decor {
      right: 0;
   }

   .section-image__img {
      margin-right: 100px;
      margin-left: auto;
   }

   .section-image__text {
      right: 0 !important;
   }

   .section-image__text--reverse {
      right: auto !important;
   }

   .header {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .header__link {
      padding-right: 30px;
      padding-left: 30px;
   }

   .decor {
      width: 120px;
      height: 120px;
   }

   .header__decor-line-left {
      height: calc(100% - 79px) !important;
   }

   .header__decor-line-right {
      height: calc(100% - 79px) !important;
   }

   .hero__padding-top {
      padding-top: 78px;
   }

   .header__nav-part::after {
      bottom: -31px;
   }

   .hero__title {
      font-size: 90px;
   }

   .content--events {
      gap: 14px;
   }

   .events__slider {
      height: auto;
   }
}

@media (max-width: 1199px) {
   .section-title {
      margin-top: 0;
   }

   .container--decor {
      padding-bottom: 0;
   }

   .content {
      width: 49%;
   }

   .section-image {
      width: 49%;
      padding-right: 40px !important;
      padding-left: 0 !important;
   }

   .section-image__img {
      width: 100%;
      height: auto;
      margin-right: 0;

      -o-object-fit: cover;
         object-fit: cover;
   }

   .section-wrapper--reverse .section-image {
      padding-right: 0 !important;
      padding-left: 40px !important;
   }

   .section-subtitle--menu {
      margin: 0 auto 30px auto !important;
   }

   .shedule {
      margin-bottom: 0;
      padding-bottom: 37px;
   }

   .hero__padding-top {
      padding-top: 50px;
   }

   .hero__title {
      font-size: 70px;
   }

   .hero__socials-link {
      width: 48px;
      height: 48px;
   }

   .about {
      padding-top: 60px;
      padding-bottom: 60px;
   }

   .order {
      padding-top: 60px;
   }

   .specials .container--decor {
      padding-bottom: 30px;
   }

   .menu {
      padding-top: 37px;
   }

   .menu__list {
      -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
              column-gap: 10px;
   }

   .menu__item {
      width: 30%;
   }

   .menu__filter-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
   }

   .menu__filter-item {
      width: 25%;

      text-align: center;
   }

   .menu__filter-btn {
      padding: 10px 12px;
   }

   .menu__list {
      text-align: center;
   }

   .menu__text-content {
      font-size: 16px;
   }

   .menu__price {
      font-size: 16px;
   }

   .menu__subtext {
      line-height: 14px;
   }

   .events .section-image__img {
      width: 91%;
      padding-right: 0 !important;
   }

   .contact {
      padding-top: 37px;
   }

   .contact-form__list {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      gap: 10px;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
   }

   .contact-form {
      margin-bottom: 37px;
   }
}

@media (max-width: 991px) {
   .btn {
      padding: 12px 60px;
   }

   .section-title {
      font-size: 30px;
      line-height: 40px;
   }

   .section-subtitle {
      font-size: 16px;
   }

   .content__description {
      line-height: 20px;
   }

   .section-image__text {
      font-size: 16px;
   }

   .section-image__decor {
      top: 50px;

      width: 140px;
      height: 140px;

      border-width: 14px;
   }

   .header__link {
      padding-right: 24px;
      padding-left: 24px;
   }

   .header__decor {
      top: 110px;
   }

   .hero__title {
      font-size: 60px;
   }

   .header__decor-line-left {
      display: none;
   }

   .header__decor-line-middle {
      display: none;
   }

   .header__decor-line-right {
      display: none;
   }

   .order-form__input {
      padding-top: 12px;
      padding-bottom: 12px;
   }

   .btn.form-send--order {
      width: 100%;
   }

   .contact-form__input {
      padding: 12px 20px;
   }

   .contact__map {
      height: 380px;
   }

   .footer {
      padding: 30px;
   }
}

@media (max-width: 767px) {
   .decor-line-left {
      left: 90px;
   }

   .decor-line-right {
      right: 90px;
   }

   .header {
      right: 100%;
      left: auto;

      -webkit-transition: right .3s ease-in-out;
              transition: right .3s ease-in-out;

      background-color: rgba(0, 0, 0, .9);
   }

   .header--active {
      right: 0;

      opacity: 1;
   }

   .header__decor {
      display: none;
   }

   .header__nav {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   }

   .header__nav-part::after {
      display: none;
   }

   .header__nav-part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      gap: 20px;
   }

   .burger-btn {
      display: block;
   }

   .hero__padding-top {
      margin-bottom: 0;
   }

   .btn-further {
      margin-bottom: 0;
   }

   .hero__shedule {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      min-width: 48px;

      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .hero__btns {
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }

   .hero__btn {
      min-width: 160px;
      padding-right: 30px;
      padding-left: 30px;
   }
}

@media (max-width: 730px) {
   .section-image__text {
      font-size: 18px;
   }
}

@media (max-width: 575px) {
   .section-title {
      font-size: 26px;
   }

   .section-wrapper {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   }

   .content {
      width: 100%;
      margin-bottom: 20px;
   }

   .section-image {
      width: 100%;
   }

   .section-image__decor {
      width: 120px;
      height: 120px;
   }

   .container--decor {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .section-theme {
      margin-bottom: 24px;
   }

   .section-wrapper--big-pb {
      padding-bottom: 30px;
   }

   .hero__title {
      font-size: 40px;
   }

   .hero__shedule {
      min-width: auto;
      margin-bottom: 20px;

      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
          -ms-writing-mode: lr-tb;

      -webkit-writing-mode: horizontal-tb;
              writing-mode: horizontal-tb;
   }

   .hero__wrapper {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   }

   .hero__padding-top {
      padding-top: 20px;
   }

   .hero__socials-wrap {
          flex-direction: row;

      width: 200px;
      margin-bottom: 20px;

      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }

   .hero__btns {
          flex-direction: column;

      width: auto;
      margin-bottom: 50px;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      gap: 20px;
   }

   .about {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .order {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .shedule {
      text-align: left;
   }

   .shshedule__numbers {
      display: block;

      margin-bottom: 10px;
   }

   .shedule__numbers {
      display: block;

      margin-bottom: 10px;
   }

   .shedule__link {
      display: block;
   }

   .menu__filter-item {
      width: auto;
   }

   .menu__item {
      width: auto;
   }

   .menu__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .content--events {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      gap: 20px;
   }

   .section-image__text {
      font-size: 14px;
   }

   .contact-form__container {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   }

   .contact-form__list {
      width: 100%;
   }

   .form-send {
      width: 100%;
   }
}

@media (max-width: 395px) {
   .burger-btn {
      top: 42px;
   }
}
